/*navigation whole container */
#nav{

}

/* navigation headers */
#nav > h1 h2 h3 h4 h5 {

}

/* navigation paragraphs*/
#nav > p {

}

/*call to action container */
#cta {
    min-height: 400px;
    background-image: url("https://images.unsplash.com/photo-1550414485-9f22b971dbf0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80");
    background-size: cover;
    background-position: center;

}

/* call to action paragraphs */
#cta > p{

}

/* call to action headers */
#cta > h1 h2 h3 h4 h5 {

}

#cta > img{
    height: 500px;
}

/* content container*/
#content {

}

/* content headers*/
#content > h1 h2 h3 h4 h5 {

}

/* content paragraphs*/
#content > p{

}


/* re-Call To Action Main */
#reCta {

}

/*re-call to action headers*/
#reCta > h1 h2 h3 h4 h5 {

}

/*re-call to action paragraphs */
#reCta > p {

}

